html {
    font-family: 'Lato', sans-serif;
    text-align: center;
    justify-content: center;
    background-color: #56B2E8;
}

body {
    width: 80%;
    background-color: white;
    margin: auto auto;
}

html, body {
    height: 100%
}

label {
    margin-top: 20px;
}

h1 {
    color: #56B2E8;
    padding-top: 30px;
    margin-left: 40px;
    margin-top: 50px;
    font-size: 44px;
}


input {
    margin-top: 15px;
    border-radius: 5px;
    border-style: solid;
    padding: 5px;
}

select {
    margin-top: 15px;
    border-radius: 5px;
    padding: 5px;
}

option {
    padding: 5px;
}

button {
    margin-top: 15px;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    color: black;
    background-color: white;
    cursor: pointer;
    transition: all .5s;
}

button:hover {
    background-color: black;
    color: white;
}

.header {
    border: none;
    font-size: 20px;
    font-style: italic;
}

#header {
    margin-left: 25px;
}

#non-header, th, td {
    background-color: white;
    border: 1px solid black;
    font-size: 12px;
    padding: 7px;
    margin: 10px;
}

#table-header {
    text-align:center; 
    background-color: #56B2E8; 
    border: #56B2E8;
    color: white;
}

table {
    margin: auto;
    text-align: center;
    /* width: 200px; */
}


#disclaimer {
    color: red; 
    font-size: 9px; 
    border: none;
    cursor: auto;
}

#disclaimer:hover {
    background-color: white;
    color: red;
}

img {
    margin-top: 100px;
    height: 40%;
    width: 40%;
}

h2 {
    margin-top: 0px;
    color: #56B2E8;
    font-size: 30px;
}

#start {
    height: 40px;
    width: 150px;
    font-size: 18px;
    background-color: #56B2E8;
    border-color: #56B2E8;
}

#start:hover {
    background-color: #2d6280;
}